body {
    /* cursor: pointer; */
    cursor: url('../media/cursor.png'), auto;
    background-color: rgb(246, 246, 246);
    height: 100%;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: rgb(2, 2, 2);
    height: 25px;
    display: flex;
    align-items: center;
}
main {
    background: rgb(246, 246, 246);
}

.title {
    background: url('../media/title.gif'), rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: overlay;
    color: #fff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
}
.title:after {
    content: ' ';
    background-color: rgb(0, 0, 0);
    background-size: cover;
}
.info {
    padding: 15px;
    text-align: center;
}
.info p {
    color: rgb(100, 100, 100);
}
.text-center{
    text-align: center;
}
.hr {
padding: 0;
border-top: 1px solid #c0c1c2;
/* border-color: #333; */
text-align: center;
}
.hr:after {
content: "▼▼▼";
display: inline-block;
position: relative;
color: #c0c1c2;
top: -0.7em;
font-size: 1.2em;
padding: 0 0.25em;
background: rgb(246, 246, 246);
}
.hr:hover::after{
    content: attr(data-title);
    display: inline-block;
    position: relative;
    color: #c0c1c2;
    top: -0.7em;
    font-size: 1.2em;
    padding: 0 0.25em;
    background: rgb(246, 246, 246);
}
.kartochka {
    margin: 1%;
    /* background-color: #8784e9; */
    /* background: #a3b9f3;
background: -webkit-linear-gradient(top left, #a3b9f3 0%, #3a2788 100%);
background: -o-linear-gradient(top left, #a3b9f3 0%, #3a2788 100%);
background: linear-gradient(to bottom right, #a3b9f3 0%, #3a2788 100%); */
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 5px;
}
